@import "navigation.css";


/* 
------------------------------------------------------------------------------------------------------------------------
BASICS
body,hr,....
------------------------------------------------------------------------------------------------------------------------
*/


* {	
	font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 50px; 
    background: #222;
}

hr {
	border-color: #3CC;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
}

hr.small {
	border-color: #3CC;
	margin-top: 16px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}


/* 
------------------------------------------------------------------------------------------------------------------------
TYPOGRAPHY
h1,h2,h3,h4,h5,p,....
------------------------------------------------------------------------------------------------------------------------
*/


h1,h2,h3,h4,h5,p {
	color:#FFF;
	font-weight:300;
}

h1 {
	font-size: 20px;
	line-height: 50px;
	vertical-align: middle;
}

h2 {
	text-align: center;
	font-size: 12px;
	margin:0px;
}

h3 {
	color:#3CC;
	font-size: 15px;
	margin:0px;
}

p {
	font-size: 12px;
	margin:0px;
}

@media (min-width: 768px) {
	h1 {
		font-size: 22px;
		line-height: 50px;
	}
	h2 {
		font-size: 16px;
		text-align: left;
	}
	h3 {
		font-size: 18px;
	}
	p {
		font-size: 14px;
	}
}
@media (min-width: 1280px) {
	h3 {
		font-size: 26px;
	}
	p {
		font-size: 17px;
	}
}


/* 
------------------------------------------------------------------------------------------------------------------------
CONTAINER
main container, defines screen
------------------------------------------------------------------------------------------------------------------------
*/


.container {
	width: 100%;
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.container {
		margin-bottom: 20px;
	}
}
@media (min-width: 1280px) {
	.container {
		width: 1240px;
	}
}
@media (min-width: 1680px) {
	.container {
		width: 1600px;
	}
}
@media (min-width: 1920px) {
	.container {
		width: 1800px;
	}
}


/* 
------------------------------------------------------------------------------------------------------------------------
WIDGETS
color, article, widget-space, ....
------------------------------------------------------------------------------------------------------------------------
*/


.first-widget, .second-widget, .title-widget {
	text-align: center;
	vertical-align: middle;
}
.first-widget {
	background: #333333;
}
.second-widget {
	background:#2E2E2E;
}
.title-widget {
	background:#2E2E2E;
}
article {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 8px;	
    /*border: 1px dotted #EEE;*/
}
.widget-space {
	/*border: 1px dotted #FFF;*/
	padding: 0px;
}

@media (min-width: 768px) {
	.first-widget, .second-widget {
		background:#333333;
	}
	.title-widget {
		background: transparent;
	}
	.widget-space {
		padding-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (min-width:1280px) {
	article {
		padding-top: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		padding-left: 20px;	
	}
	.widget-space {
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width:1680px) {
	.widget-space {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (min-width:1920px) {
	article {
		padding-top: 28px;
		padding-right: 32px;
		padding-bottom: 28px;
		padding-left: 32px;	
	}
	.widget-space {
		padding-left: 25px;
		padding-right: 25px;
	}
}


/* 
------------------------------------------------------------------------------------------------------------------------
TABLES
color, borders, ....
------------------------------------------------------------------------------------------------------------------------
*/


table.scheduler {
	border-style: none !important;
	border-width: 0px !important;
	margin:0px;
}
		
table.scheduler td {
	font-weight:300;
	font-size: 13px;
	color: #FFF;
	border-top-color: #999 !important;
	border-top-width: 1px;
	border-bottom-width: 0px;
	vertical-align: middle !important;
}
table.scheduler th {
	font-weight:300;
	font-size: 16px;
	color: #3CC;
}
table.scheduler img {
	height: 28px;
	width: 28px;
	margin-right: 8px;
	margin-bottom: 5px;
}
@media (min-width:768px) {
	table.scheduler td {
		font-size: 15px;
	}
	table.scheduler th {
		font-size: 17px;
	}
}
@media (min-width:1280px) {
	table.scheduler td {
		font-size: 16px;
	}
	table.scheduler th {
		font-size: 18px;
	}
}
@media (min-width:1680px) {
	table.scheduler td {
		font-size: 18px;
	}
	table.scheduler th {
		font-size: 21px;
	}
}


/* 
------------------------------------------------------------------------------------------------------------------------
HELPER
padding, margin, text-align, ....
------------------------------------------------------------------------------------------------------------------------
*/


.row_submenu {
}
.no_padding {
	padding: 0px;
}
.no_padding_bottom {
	padding-bottom: 0px;
}
.no_margin {
	margin: 0px;
}
.no_margin_bottom {
	margin-bottom: 0px;
}
.text-switch-right-center {
	text-align: right;	
}
.text-switch-center-left {
	text-align: center;	
}
.text-switch-center-right {
	text-align: center;
}
.scrolling-div {
	max-height: 100px;
	overflow: hidden;
}
span.on {
	font-weight:500;
	color:#3CC;
	text-transform: uppercase;
	}
span.off {
	font-weight:500;
	color:#997B02;
	text-transform: uppercase;
	}
@media (min-width: 768px) {
    .row_submenu {
        padding-top: 12px;
    }
	.text-switch-right-center {
		text-align: center;	
	}
	.text-switch-center-left {
		text-align: left;	
	}
    .text-switch-center-right {
        text-align: right;
    }

	.scrolling-div {
		max-height: 120px;
		height: 120px;
	}
}
@media (min-width: 1280px) {
    .row_submenu {
        padding-top: 24px;
    }
	.scrolling-div {
		max-height: 150px;
		height: 150px;
	}
}


/* 
------------------------------------------------------------------------------------------------------------------------
BUTTONS
bootstrap button color, ....
------------------------------------------------------------------------------------------------------------------------
*/


.btn {
	font-weight:300;
}

.btn-fix-width {
    width: 160px;
    margin: 12px !important;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.btn-submenu {
    width: 120px;
    margin: auto !important;
    padding: 4px;
    border-bottom: 3px solid #288;
}
.btn-submenu a {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.btn-primary,
.btn-primary:hover, 
.btn-primary:link, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active {
	background-color: #288 !important;
	border-color: #288 !important;
}
.btn-warning,
.btn-warning:hover, 
.btn-warning:link, 
.btn-warning:focus, 
.btn-warning:active, 
.btn-warning.active {
	background-color: #49D1D1 !important;
	border-color: #49D1D1 !important;
}
.btn-danger,
.btn-danger:hover, 
.btn-danger:link, 
.btn-danger:focus, 
.btn-danger:active, 
.btn-danger.active {
	background-color: #144 !important;
	border-color: #144 !important;
}
.btn-big-margin {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
}
.btn-big-margin>span {
	margin-right: 6px;
}

@media (min-width: 768px) {
	.btn-big-margin {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.btn-big-margin>span {
		margin-right: 12px;
	}
    .btn-submenu {
        width: 200px;
    }
}


/* 
------------------------------------------------------------------------------------------------------------------------
PAGINATION 
pageination buttons
------------------------------------------------------------------------------------------------------------------------
*/


.pagination a,
.pagination a:hover,
.pagination a:link,
.pagination a:focus {
	background-color: #FFF;
	border: 1px solid #288 !important;
	color: #288;
}
.pagination .active a, 
.pagination .active a:hover,
.pagination .active a:link,
.pagination .active a:focus {
	background-color: #288;
	border: 1px solid #288 !important;
	color: #FFF;
}



/* 
------------------------------------------------------------------------------------------------------------------------
MODAL
bootstrap modal dialog
------------------------------------------------------------------------------------------------------------------------
*/


.modal-content {
	background-color: #333;
}
.modal-title {
	color:#FFF;
	font-size: 26px;
	font-weight:300;
	margin:0px;
}






.swiper-slide, .extra_padding {
    padding: 0px;
}
@media (min-width: 768px) {
    .swiper-slide, .extra_padding {
        padding-left: 10px;
        padding-right: 10px;
    }
}
