/* CSS Document */


/*	Beschriftungen	*/


label {
	color:#3CC;
	font-size: 18px;
	line-height: 32px;
	vertical-align:middle;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
}

@media (min-width: 1680px) {
	label {
		font-size: 22px;
		line-height: 36px;
	}
}



/*	Radio-Buttons	*/


label.radio-scheduler {
	color:#FFF;
	font-size: 15px;
	line-height: 28px;
	vertical-align:middle;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	margin: 0px;
	padding: 0px;
	display: block;
}
input[type=radio].radio-scheduler {
	padding: 0px;
	line-height: 28px;
	vertical-align:middle;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
input.title-scheduler {
}

@media (min-width: 768px) {
	label.radio-scheduler {
		font-size: 17px;
		line-height: 30px;
	}
	input[type=radio].radio-scheduler {
		margin-right: 6px;
		line-height: 30px;
		vertical-align:middle;
	}
	input.title-scheduler {
		width: 160px  !important;
	}
}
@media (min-width: 1680px) {
	label.radio-scheduler {
		font-size: 18px;
		line-height: 36px;
	}
	input[type=radio].radio-scheduler {
		margin-right: 6px;
		line-height: 36px;
		vertical-align:middle;
	}
	input.title-scheduler {
		width: 200px  !important;
	}
}

form .btn {
	margin: 6px;
}

/*	Zeilenabstand	*/

form .row {
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 0px;
}
@media (min-width: 768px) {
	form .row {
		margin-bottom: 10px;
	}
}

/*	Datum- und Uhrzeiteingabe	*/


.clockpicker {
	width: 110px;
	margin-right: 0px;
	margin-left: auto;
}
.input-group.date {
	width: 150px;
	margin-right: 0px;
	margin-left: auto;
}


.no_padding_extra {
}
@media (min-width: 768px) {
	.no_padding_extra {
		padding: 0px;
	}
}
